@import "tailwindcss";

:root {
  --primary: #7a1515;
  --foreground: #d9d9d9;
  --secondary: #ffffff;
  --third: #f8f9fa;
  --background: #000000;
}

@theme inline {
  --font-heading: var(--font-heading), serif;
  --font-body: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

html {
  scroll-behavior: smooth;
}

body,
p,
span {
  font-family: var(--font-body);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}
